<p>Club: <%= @clubs.name %> </p>

<form method="post" action="/clubs/<%= @clubs.id %>/delete">
<input type="submit" value="Delete Club"/>
</form>
<form method="post" action="/clubs/<%= @clubs.id %>/edit">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @clubs.name %>"
  />

  <input
  type="text"
  name="type"
  id="type-field"
  value="<%= @clubs.type %>"
  />

  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @clubs.quantity %>"
  />

  <input
  type="number"
  name="buy_price"
  id="buy_price-field"
  value="<%= @clubs.buy_price %>"
  />

  <input
  type="number"
  name="sell_price"
  id="sell_price-field"
  value="<%= @clubs.sell_price %>"
  />

  <input type="submit" value="Update Quantity">
</form>
