<p>Club: <%= @clubs.name %> </p>

<form method="post" action="/clubs/<%= @clubs.id %>/delete">
<input type="submit" value="Delete Club"/>
</form>
<p></p>

<form method="post" action="/clubs/<%= @clubs.id %>/edit">

  <label for="name-field">Name:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  value="<%= @clubs.name %>"
  />

  <label>
    Type:
    <select name="type_id">
      <% for type in @types %>
      <% if @clubs.type_id == type.id %>
      <option value="<%= type.id %>" selected="<%= type.id %>"><%= type.name %></option>
      <% else %>
      <option value="<%= type.id %>"><%= type.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>

  <label>
    Manufacturer:
    <select name="manufacturer_id">
      <% for manufacturer in @manufacturers %>
      <% if @clubs.manufacturer_id == manufacturer.id %>
      <option value="<%= manufacturer.id %>" selected="<%= manufacturer.id %>"><%= manufacturer.name %></option>
      <% else %>
      <option value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
      <% end %>
      <% end %>
    </select>
  </label>

  <label for="quantity-field">Quantity:</label>
  <input
  type="number"
  name="quantity"
  id="quantity-field"
  value="<%= @clubs.quantity %>"
  />

  <label for="buy_price-field">Buy Price:</label>
  <input
  type="number"
  name="buy_price"
  id="buy_price-field"
  value="<%= @clubs.buy_price %>"
  />

  <label for="sell_price-field">Sell Price:</label>
  <input
  type="number"
  name="sell_price"
  id="sell_price-field"
  value="<%= @clubs.sell_price %>"
  />

  <input type="submit" value="Update">
</form>
