<h2>All Clubs</h2>
<% for club in @clubs %>
<p> <%= club.name %> <%= club.type %> <%= Manufacturer.manufacturer_name(club.manufacturer_id) %> <%= club.quantity %> <%= club.level_indicator %> </p>
<% end %>
