<h2>All Clubs</h2>


<li>
  <a href="/clubs/new">Add new Club</a>
</li>

<table>
  <tr>
    <th>Club Name</th>
    <th>Club Type</th>
    <th>Manufacturer Name</th>
    <th>Quantity</th>
    <th>Stock Indicator</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Mark Up</th>
    <th>Delete</th>
  </tr>

<% for club in @clubs %>
  <tr>
<td><%= club.name %></td>
<td><%= Type.type_name(club.type_id) %></td>
<td><%= Manufacturer.manufacturer_name(club.manufacturer_id) %></td>
<td><%= club.quantity %></td>
<td><%= club.level_indicator %></td>
<td><%= club.buy_price %></td>
<td><%= club.sell_price %></td>
<td><%= club.mark_up_value %></td>
<td><a href="/clubs/<%= club.id %>">Click Here</a></td>
  </tr>

<% end %>
</table>
